<table>
<% @businesses.each do |business| %>
<tr>
<td>
<%= link_to "#{business.name}", :controller => "businesses", :action => "show", :id => business.id %> <br/>
<%= business.address %><br/>
<%= link_to "#{business.url}" %><br/>
<%= business.description %> <br/>
<hr/>
</td>
</tr>
<% end %>
<tr>
<td>
the business you find is not here? click 
<%= link_to "here", {:controller => :businesses, :action => :new}, :rel => 'gb_page_center[640,480]' %>
to add
</td>
</tr>
</table>
