<table>
  <tr>
  <td>
    <%= @business.name %> <br/>
    <%= @business.address %> <br/>
    <%= @business.url %> <br/>
    <%= @business.description %> <br/>
    <hr/>
  </td>
  </tr>
  <tr>
  <td>
    <table>
    <tr>
    <td valign="top">
      <table>
      <tr>
      <td>
        <%= "#{@business.referrals.count} Referrals" %>
      </td>
      <td>
        <%= link_to "new referral", {:controller => :referrals, :action => :new, :id => @business.id}, :rel => 'gb_page_center[640,480]' %></td>
      </td>
      </tr>
    <td>
      <% @business.referrals.each do |referral| %> </br>
      <%= "offer: $#{referral.offerprice}"%> </br>
      <%= referral.description %> </br>
      <%= referral.user.username %> </br>
      <%= link_to "contact", {:controller => :businesses, :action => :referralform, :id => referral.id}, :rel => 'gb_page_center[640,480]' %> </br>
      <% end %>
    </td>
    </tr>
    </table>
  </td>
  </tr>
</table>
