<p>
  <b>Name:</b>
  <%=h @business.name %>
</p>

<p>
  <b>Address:</b>
  <%=h @business.address %>
</p>

<p>
  <b>Description:</b>
  <%=h @business.description %>
</p>

<p>
  <b>City:</b>
  <%=h @business.city %>
</p>

<p>
  <b>State:</b>
  <%=h @business.state %>
</p>

<p>
  <b>Url:</b>
  <%=h @business.url %>
</p>

<p>
  <b>Referee reward:</b>
  <%=h @business.referee_reward %>
</p>

<p>
  <b>Referer reward:</b>
  <%=h @business.referer_reward %>
</p>
<p>
  <b>Start date:</b>
  <%=h @business.start_date %>
</p>
<p>
  <b>Expiry date:</b>
  <%=h @business.expiry_date %>
</p>
<p>
  <b>Upper limit:</b>
  <%=h @business.upper_limit %>
</p>
<p>
  <b>Referee constraint:</b>
  <%=h @business.referee_constraint %>
</p>


<%= link_to 'Edit', edit_business_path(@business) %> |
<%= link_to 'Back', businesses_path %>
