<h1>Editing referal</h1>

<% form_for(@referal) do |f| %>
  <%= f.error_messages %>

  <p>
    <%= f.label :offerprice %><br />
    <%= f.text_field :offerprice %>
  </p>
  <p>
    <%= f.label :description %><br />
    <%= f.text_area :description %>
  </p>
  <p>
    <%= f.submit 'Update' %>
  </p>
<% end %>

<%= link_to 'Show', @referal %> |
<%= link_to 'Back', referals_path %>