<h1>Listing referals</h1>

<table>
  <tr>
    <th>Offerprice</th>
    <th>Description</th>
  </tr>

<% @referals.each do |referal| %>
  <tr>
    <td><%=h referal.offerprice %></td>
    <td><%=h referal.description %></td>
    <td><%= link_to 'Show', referal %></td>
    <td><%= link_to 'Edit', edit_referal_path(referal) %></td>
    <td><%= link_to 'Destroy', referal, :confirm => 'Are you sure?', :method => :delete %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New referal', new_referal_path %>