<p><b>add new business</b></p>
<% form_for :business, :url => { :action => "create" } do |b| %>
  <%= b.error_messages %>
<p>
    <%= b.label :name %> <br />
    <%= b.text_field :name %>
  </p>
  
  <p>
    <%= b.label :address %> <br />
    <%= b.text_field :address %>
  </p>
  
  <p>
    <%= b.label :description %> <br />
    <%= b.text_area :description %>
  </p>  
  
  <p>
    <%= b.submit "add" %>
  </p>
  
<% end %>