<table>
<% @businesses.each do |business| %>
<tr>
<td>
<%= business.name %><br/>
<%= business.address %><br/>
<%= business.description %> <br/>
<%= link_to "#{business.referals.count} number of referals, #{business.requests.count} number of requests", :controller => "businesses", :action => "show", :id => business.id %>
<hr/>
</td>
</tr>
<% end %>
<tr>
<td>
the business you find is not here? click 
<%= link_to "here", {:controller => :businesses, :action => :new}, :rel => 'gb_page_center[640,480]' %>
to add
</td>
</tr>
</table>