<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en" lang="en">
<head>
  <meta http-equiv="content-type" content="text/html;charset=UTF-8" />
  <%= stylesheet_link_tag 'scaffold' %>
</head>
<body>
  <div id="container">
    <div id="user_nav">
      <% if current_user %>
        <%= current_user.username%>
        <%= link_to "Logout", logout_path %>
      <% else %>
        <%= link_to "Register", new_user_path %>
        <%= link_to "Login", login_path %>
      <% end %>
    </div>
    <div id="search">
        <% form_tag '/businesses/search' do %>
        <label>Business Name (<span>e.g. The Onyx Apartment</span>)</label>
        <%= text_field_tag :businessname, params[:businessname], :id => 'businessname_field' %>
        <label>Location (<span>e.g. Redmond, WA</span>)</label>
        <%= text_field_tag :location, params[:city], :id => 'city_field' %>
        <%= submit_tag "Search" %>
        <% end %>
    </div>
    <div id = "content">
      <%= yield %>
    </div>
  </div>
</body>
</html>
