<html>
	<head>
	        <%= javascript_include_tag 'prototype' %>
	        <%= javascript_include_tag 'referme' %>
		<%= stylesheet_link_tag 'referme' %>
	</head>
	<body>
		<table class="main_table">
		<tr>
			<td class="logo">
				<%= link_to image_tag("logo.jpg", :border=>0), :action => 'index' %>
				<br/>
				<br/>
			</td>
		</tr>
		<tr>
			<td>
				<div id="searhpanel">
				<% form_tag '/home/search' do %>
				<span class="search_text">Refer me at <span class="search_example">(e.g. Bank of America)</span></span>
				<%= text_field_tag :businessname,
						   params[:businessname],
						   :id => 'businessname_field',
						   :onfocus => "search_box_onfocus()",
						   :onblur => 'search_box_losefocus()' %>
				<%= submit_tag "Search" %>
				<hr/>
				</div>
				<% end %>
			</td>
		</tr>
		<tr>
			<td>
			<div id = "content">
				<%= yield %>
			</div>
			</td>
		</tr>
		</table>
	</body>
</html>